{% extends 'base.html' %}

{% block title %}Archive - Beta Ball Basketball Tracker{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Archive of Past Seasons</h1>
    <ul class="list-group mt-4">
        {% for season in seasons %}
        <li class="list-group-item">
            <a href="{{ url_for('current_season', season_id=season.id) }}">{{ season.name }}</a>
            <p>Start Date: {{ season.start_date.strftime('%Y-%m-%d') }}</p>
            <p>Teams: {{ season.teams|length }}</p>
        </li>
        
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Back to Home</a>
</div>
{% endblock %}
