<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Frat Basketball Tracker{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-light fs-4">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Beta Ball Logo" style="height: 100px;" class="me-2 rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <!-- Conditionally render Current Season link -->
                        {% if current_season %}
                        <a class="nav-link" href="{{ url_for('current_season', season_id=current_season.id) }}">Current Season Stats</a>
                        {% else %}
                        <a class="nav-link disabled" href="#">No Current Season</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('game') }}">Add New Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_season') }}">Add New Season</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('archive') }}">Archive</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5 py-4">
        <div class="container p-4">
            <p>&copy; 2024 Beta Theta Pi Basketball Tracker</p>
            <p>Hope you enjoy! Yours in __kai__, -2182-</p>
            <a href="https://github.com/atijmahesh/beta-ball">The code behind it :)</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
